<head> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    <style> 
        html,
        body {
            margin: 0 auto !important;
            height: 100% !important;
            width: 100% !important;
        }

        * {
            -ms-text-size-adjust: 100%;
        }
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        img {
            -ms-interpolation-mode:bicubic;
        }
        body { 
            font-family: 'Montserrat', sans-serif;
        }
        h1, h2, h3, p{
            text-align:center;
            color:black;
        }
    </style> 
</head> 

<body style='background-color: #f3b69d;padding: 20px 10px;'>
    <h1>Rifas Anima Solidaria</h1>
    <h2>Muchisimas gracias por tu compra.</h2>
    <p style='color:black'> <%= data.rifas_oracion %></p> <p style='margin-top:0;font-size:40px;color:black;font-weight:600;'> <%= data.numeros_rifas %> </p>
    <p style='margin-top:0;font-size:20px'>Recorda que el sorteo se realizara el <b>sábado 20/09 </b> a traves de nuestro IG <a href='https://www.instagram.com/animasolidaria/' style='color:black;text-decoration: none;font-weight: 600;'>@animasolidaria</a>.</p>
    <table style='width:100%'>
        <img src='https://imgur.com/tFT9cxn.png' alt='logo-anima' style='display:block;margin:auto;width:120px;height:auto;'>
    </table>
</body>