<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Rifas Caminando Juntos</title>
</head>

<body>
  <section>
  <img src="/img/logo-entero3.png" alt="logo-caminando">
  <h1>¡RIFA 10 AÑOS!</h1>
  <p>Muchas gracias por tu compra! <%= data.rifas_oracion %>: </br> 
    <span><%= data.numeros_rifas %></span></p><p> Vas a recibirlas a tu mail: <span><%= data.mail %></span></p>

    <h2>¡Gracias por ayudarnos!</h2>

    <div class="contacto"><h3>Contactanos en:</h3>
      <div>
    <a href="https://www.facebook.com/CaminandoJuntosOk/" target="blank"><img src="/img/facebook.png" alt="icono facebook"></a>
    <a href="https://www.instagram.com/caminandojuntosok/" target="blank"><img src="/img/instagram.png" alt="icono instagram"></a>
    <a href="https://caminandojuntosok.com/" target="blank"><img src="/img/global.png" alt="icono global"></a>
  </div>
  </div>
  </section>
</body>
</html>